body {
    background-color: rgb(41, 41, 41);
}
.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}
.favGames{
    list-style: none;
    background-color: blueviolet;
    border-radius: 50px;
}
.videojuegos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: aliceblue;
    font-weight: bolder;
}
.bg-AC1{
    display: flexbox;
    background-color: rgba(0, 82, 150, 0.671);
    border-radius: 50px;
    
}