.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}
body{
    background-color: rgb(28, 28, 28);
}
.subtitle{
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.botana{
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bg-lightpink{
    background-color: lightpink;
}
.bg-lightblue{
    background-color: lightblue;
}
.botana{
    list-style: none;
}

